/*stylesheet*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  text-decoration:none;
  scroll-behavior:smooth;
  
}
html {
  overflow-x: hidden;
}
/*محدش يلعب هنا*/
@font-face{
  font-family:other;
  src:url(../fonts/other.woff);
}
@font-face{
  font-family:px;
  src:url(../fonts/pxf.woff);
}

main{
  display:grid;
  grid-template-columns:60vw 38.8vw;
  grid-template-rows:15vh 85vh 85vh 123vh 20vh ;
  grid-template-areas: 
    "navo navo"
    "secnn secnn"
    "art art"
    "store store"
    "foot foot"
    ;
}
/*alert tany*/


/*strart navbar*/
nav{
  grid-area:navo;
  background-color:#1a1b1c;
  position:fixed;
  width:98.8vw;
  height: 15vh;
  box-shadow:1px 1px 5px orange;
  z-index:1;
}
nav .nav-father{
 display:flex;
  width:98.8vw;
  height:15vh;
  flex-direction:row;

}
.nav-father .search-bar{
  display:flex;
  align-self: center;
  width:45vw;
  height: 6vh
}
.nav-father .search-bar form{
  position: relative;
  width:45vw;
  height:6vh;
  display:flex;
  justify-content:center;
}
.nav-father .search-bar form input{
  width:80%;
  height:6vh;
  max-height:6vh;
  min-height: 6vh;
  padding:.5em;
  border:.3em solid orange;
  border-radius:.9em;
  color:orange;
  background-color: #1A1B1C;
  font-size:1em
}
.nav-father .fa-search{
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
  position: absolute;
  left: 37.9vw;
  font-size:1.2em;
  top:.18em;
  border:.4em solid orange;;
  background-color: orange;
  border-radius:20px 8px 8px 0px;
  cursor:pointer
}
.nav-father .header{
  width:26.9vw;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-father .header h1{
  color: orange;
  font-family:other;
  font-size:2.8em;
  align-self:center;
}
.un-list{
  width: 26vw;
  height:15vh;
}
.un-list ul{
  display:flex;
  width:20vw;
  height:15vh;
  list-style: none;
  justify-content:space-between;
  align-items: center;
}
.un-list ul li{
  position: relative;
}
.un-list ul li a{
  text-decoration:none;
  font-size:1.4em;
  color:whitesmoke;
  font-family:arial;
  font-weight:lighter;
  text-transform:capitalize;
}
.un-list ul li button{
  background:transparent;
  border:transparent;
  cursor:pointer;
  position: relative;
}
.un-list ul li button i:hover{
  color:orange;
}
.un-list ul li button .fa-user{
  font-size:2em;
  color:whitesmoke;
}
.un-list ul li ul{
  width:10vw;
  height:12.5vh;
  top:7vh;
  background-color:whitesmoke;
  display: flex;
  align-content:;
  flex-direction:column;
  position: absolute;
  left:-4.2vw;
  border-bottom:3px solid orange;
  border-radius:10px 10px 3px 3px;
  visibility:hidden;
  transition:.5s;
}

.un-list ul li ul:before{
  content: "";
  width:0vw;
  height:0;
  bottom:11.9vh;
  background-color:transparent;
  position: absolute;
  left:;
  border-bottom:10px solid whitesmoke;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent; 
}
.un-list ul li button:focus +ul{
  visibility:visible;
}
.un-list ul li ul li{
  padding: 9px;
}
.un-list ul li .an:hover,.on:hover{
  color:orange;
}

.un-list ul li .an{
  border:.1em solid orange;
  padding:.2em;
  border-top:transparent ;
  border-right:transparent;
  border-bottom: ;
  border-left:transparent;
  
}
.un-list ul li .on{
  position: relative;
}
.un-list ul li .on:before{
  content:'';
        position:absolute;
        width:4.5vw;
        transform:scaleX(0);
        height:2px;
        top:30px;
        left:0;
        background-color:orange;
        transform-origin:bottom left;
        transition:transform 0.25s ease-out;
}
.un-list ul li .on:hover:before{
  transform:scalex(1)
}
.un-list ul li ul .l1 a{
  font-size:1em;
  color:orange;
}
.un-list ul li ul .l0 a{
  font-size:1.3em;
  color: orange
}
.un-list ul li ul .l1 a:hover{
  background-color: #1A1B1C;
  font-size:.96em;
  color:whitesmoke;
  padding-right:2em;
  padding-left:2.1em ;
   padding-bottom:.4em;
  padding-top:.4em ;
}
.un-list ul li ul .l0 a:hover{
  padding: .2em;
  background-color:#1A1B1C; 
  padding-right:1.65em;
  padding-left:1.65em ;
  padding-bottom:.2em;
  padding-top:.2em ;
  font-size:1.3em;
  color: whitesmoke
}

/*end navbar*/


/*Game Offer*/

section {
  grid-area: secnn;
  width: 100%;
  height: 85vh;
  background-color:hsla(0, 0%, 11%,1);
  display: grid;
  grid-template-columns:0fr 32.4vw 1fr 33.3vw 1fr 33.1vw 0fr;
  grid-template-rows:0vh 90vh 12.5vh ;
  grid-template-areas: 
    ". . . . . . ."
    ". offer1 . offer2 . offer3 ."
    ". . . . . . ."
    ;
}
.gameinfo {
  
  padding-top: 0vh;
  display: block;
  height: 100%;
  background: linear-gradient(to bottom,rgb(0, 0, 0,0),rgba(0,0,0,0.9));
  padding: 50px;
  font-family: sans-serif;
  opacity: 0;
  transition: 1s;
  text-align: center;
}
.gameinfo:hover{
  opacity: 1;
}
.gameinfo h3 {
  color: whitesmoke;
  padding-bottom: 2vh;
}
.gameinfo h4 {
  color: #bdc3c7;
  font-weight: 100;
  padding-bottom: 15vh;
}
.gameoffers .shadowhov0{
  grid-area: offer1;
  overflow:hidden;
  position: relative;
  box-shadow:0px 0px 10px black;
}
.gameoffers .offer1{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/codbo4.jpg);
  background-size: 70vh 100vh;
  background-repeat:no-repeat;
  display:flex;
  flex-direction:column;
  position: relative;
}

.gameoffers .offer1 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 29vw;
  width: 2.5vw;
}
.gameoffers .offer1 a {
   color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 1em;
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  z-index:0;
}
.gameoffers .offer1 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}
.gameoffers .shadowhov1{
  grid-area:offer2;
}

.gameoffers .offer2{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/GTA.png);
  background-size: 70vh 100vh;
  background-position-y: -40px;
  background-repeat:no-repeat;
  box-shadow:0px 0px 10px black;
  display:flex;
  flex-direction:column;
  position: relative;
  overflow:hidden;
}

.gameoffers .offer2:hover:before{
 background:linear-gradient(to bottom ,hsla(39, 100%, 50%,0.9),rgba(22, 26, 45,0.699) );
 width:100vw;
  height:100vh;
}
.gameoffers .offer2 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 29vw;
  width: 2.5vw;
}
.gameoffers .offer2 a{
  color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 1em;
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  cursor:pointer;
  z-index:0;
}
.gameoffers .offer2 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}
.gameoffers .shadowhov2{
  grid-area:offer3
}
.gameoffers .offer3{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/R6S.jpg);
  background-size: 70vh 100vh;
  background-repeat:no-repeat;
  box-shadow:0px 0px 10px black;
  display:flex;
  flex-direction:column;
  position: relative;
  overflow:hidden;
}

.offer3:hover:before{
 background:linear-gradient(to bottom ,hsla(39, 100%, 50%,.5),rgba(22, 26, 45,0.699) );
 width:100vw;
  height:100vh;
}
.gameoffers .offer3 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 29vw;
  width: 2.5vw;
}
.gameoffers .offer3 a{
  color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 1em;
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  cursor:pointer;
  z-index:0;
}
.gameoffers .offer3 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}

/*end of section*/
article{
  grid-area: art;
  z-index:0;
  background-color:hsla(0, 0%, 11%,1);
  box-shadow:0px 0px 10px black;
  display: grid;
  grid-template-columns:1fr 50vw 30vw 1fr ;
  grid-template-rows:85vh;
  grid-template-areas:
    ". as00 as11 ."
    ;
}
article .as0{
  width:100%;
  height:100%;
  grid-area:as00;
  display:flex;
  flex-direction:row ;
}
article .as0 video {
  width:48vw;
  height:56vh;
  align-self:flex-start;
  border: 1px solid orange;
  box-shadow: 0px 0px 10px orange;

}
article .as0 div{
  padding-top:3.9vw
}
article .as1{
  width:100%;
  height:100%;
  grid-area:as11;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
}
article .as1 div{
  padding-top:5vh
}
article .as1 div img{
  width: 25vw;
  height:18vh;
  background:#262626;
}
article .as1 p{
  width:25vw;
  height:13vh;
  color: whitesmoke;
  text-transform:capitalize;
  font-size:.9em;
  font-family:arial;
  font-weight: lighter;
}
article .as1 h5{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:2.5vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: bold;
}
article .as1 h5 span{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:2.5vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: lighter;
 
}
article .as1 h5 a{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:4vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: bold;
}
article .as1 h5 a:hover{
  color:hsla(39, 100%, 50%,.8)
}
article .as1 .h22a{
  align-self: flex-end
}
article .as1 h2{
  width:12vw;
  height: 6vh;
  padding:.3em;
  text-align: center;
  background:hsl(39, 100%, 50%);
  border-radius: 5px;
  transition: 1s;
  color:whitesmoke;
  font-family:arial;
  font-weight:lighter;
  white-space: pre-line;
  font-size: 1.4em;
}
article .as1 a h2:hover{
  color: hsl(0, 0%, 15%);
}
/*start footer*/
.store0{
  grid-area:store;
  background-color:#1C1C1C;
  display:grid;
  grid-template-columns:1fr 80vw 1fr;
  grid-template-rows:30vh 30vh 30vh 30vh;
  grid-template-areas: 
    ". ddd0 ."
    ". ddd1 ."
    ". ddd2 ."
    ". ddd3 ."
    ;
}
.store0 .ddd0{
  grid-area:ddd0;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd0 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd0 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd0 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd0 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd0 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd0 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd0 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd0 .red-inf h2{
  width:25vw;
  height:5vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter
}
.store0 .ddd0 .red-inf i{
  font-size: 2em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd0 .red-inf p{
  width: 23vw;
  height:5vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd0 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh
}
.store0 .ddd1{
  grid-area: ddd1;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd1 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd1 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd1 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd1 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd1 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd1 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd1 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd1 .red-inf h2{
  width:25vw;
  height:5vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter
}
.store0 .ddd1 .red-inf i{
  font-size: 2em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd1 .red-inf p{
  width: 23vw;
  height:5vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd1 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh
}
.store0 .ddd2{
  grid-area:ddd2;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd2 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd2 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd2 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd2 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd2 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd2 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd2 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd2 .red-inf h2{
  width:25vw;
  height:5vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter
}
.store0 .ddd2 .red-inf i{
  font-size: 2em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd2 .red-inf p{
  width: 23vw;
  height:5vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd2 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
}
.store0 .ddd3{
  grid-area:ddd3;
  display:flex;
  overflow:hidden;
  position: relative;
}
.store0  .ddd3 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd3 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd3 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd3 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd3 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd3 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd3 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd3 .red-inf h2{
  width:25vw;
  height:5vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter
}
.store0 .ddd3 .red-inf i{
  font-size: 2em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd3 .red-inf p{
  width: 23vw;
  height:5vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd3 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
}
footer{
  grid-area: foot;
  z-index: 0;
  background-color:#1A1B1C;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  box-shadow:0px -1px 10px black
}
footer .d0 {
  width:76%;
}
footer .d0 p{
  font-size:1.05em;
  color:hsla(52, 29%, 90%,.7);
  font-family:sans-serif;
  font-weight: lighter;
}
footer .d0 p a{
  text-decoration:none;
  margin-left:2vw;
  color:whitesmoke;
  padding: 3px;
  border-right: 1px solid whitesmoke;
  font-size:.7em;
}
footer .d1{
  width:20%;
  height:100%;
  display:flex;
}
footer .d1 .father-d0{
  width:100%;
  height:70%;
  display:flex;
  flex-direction:row-reverse;
  align-content:space-between;
  align-items:center;
  background-color:#262626; 
  place-self: center;
  cursor:pointer;
}
footer .d1 .dd0{
  display: flex;
  flex-direction:column;
  width:18%;
  height:50%
}
footer .d1 div i{
  font-size:45px;
  color:#FFA500;
}
footer .d1 .dd1{
  width:80%;
  height:70%;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:flex-start;
}
footer .d1 .dd1 h5{
 font-size:1.2em;
  color:whitesmoke;
  font-family: arial;
  font-weight: initial;
}
footer .d1 .dd1 p{
  font-size: .8em;
  color:whitesmoke;
  font-family:arial;
  font-weight: lighter;
}
/**********************RESPONSIVE*************************/
@media screen and (max-width:414px) and (max-height:736px) {
   main{
  display:grid;
  grid-template-columns:60vw 38.8vw;
  grid-template-rows:15vh 85vh 85vh 123vh 20vh ;
  grid-template-areas: 
    "navo navo"
    "secnn secnn"
    "art art"
    "store store"
    "foot foot"
    ;
}
/*alert tany*/


/*strart navbar*/
  nav{
    grid-area:navo;
    background-color:#1a1b1c;
    position:fixed;
    width:100vw;
    height: 15vh;
    box-shadow:1px 1px 5px black;
    z-index:1;
  }
nav .nav-father{
 display:flex;
  width:98.8vw;
  height:15vh;
  flex-direction:row;

}
  .nav-father .search-bar{
    display:flex;
    align-self: center;
    width:44vw;
    margin-left: -5%;
  }
.nav-father .search-bar form{
  position: relative;
  width:42vw;
  height:4vh;
  display:flex;
  justify-content:center;
}
.nav-father .search-bar form input{
    width:80%;
    height:4vh;
    padding:.5em;
    border:3px solid orange;
    border-radius:.9em;
    background-color: #1A1B1C;
    color: white;
  font-size: 0.7em;
}
.nav-father .search-bar i{
    color:whitesmoke;
    position: absolute;
    left: 27.9vw;
    width: 23%;
    height: 5.5vh;
    font-size:19px;
    top:0.1em;
    border:0.5em solid orange;;
    background-color: orange;
    border-radius:20px 8px 8px 0px;
    cursor:pointer
}
.nav-father .header{
  width:26.9vw;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
  .nav-father .header h1{
    color: orange;
    font-family:other;
    font-size:20px;
    padding-left: 10px;
    align-self:center;
  }
.un-list{
    width: 26vw;
    height:15vh;
  }
  .un-list ul{
    display:flex;
    width:25vw;
    height:15vh;
    list-style: none;
    justify-content:space-around;
    align-items: center;
  }
  .un-list ul li a{
    text-decoration:none;
    font-size: 1em;
    color:whitesmoke;
    font-family:arial;
    font-weight:;
    padding: 10px;
  }
.un-list ul li{
  position: relative;
}
.un-list ul li a{
  text-decoration:none;
  font-size:1em;
  color:whitesmoke;
  font-family:arial;
  font-weight:lighter;
  text-transform:capitalize;
}
.un-list ul li button{
  background:transparent;
  border:transparent;
  cursor:pointer;
  position: relative;
}
.un-list ul li button i:hover{
  color:orange;
}
.un-list ul li button .fa-user{
  font-size:1.5em;
  color:whitesmoke;
}
.un-list ul li ul{
  width:20vw;
  height:12.5vh;
  top:7vh;
  background-color:whitesmoke;
  display: flex;
  align-content:;
  flex-direction:column;
  position: absolute;
  left:-10.2vw;
  border-bottom:3px solid orange;
  border-radius:10px 10px 3px 3px;
  visibility:hidden;
  transition:.5s;
}

.un-list ul li ul:before{
  content: "";
  width:0vw;
  height:0;
  bottom:11.9vh;
  background-color:transparent;
  position: absolute;
  left:;
  border-bottom:10px solid whitesmoke;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent; 
}
.un-list ul li button:focus +ul{
  visibility:visible;
}
.un-list ul li ul li{
  padding: 9px;
}
.un-list ul li .an:hover,.on:hover{
  color:orange;
}

.un-list ul li .an{
    border:.1em solid orange;
    padding:.2em;
    border-top:transparent ;
    border-right:transparent;
    border-bottom: ;
    border-left:transparent;

  }
  .un-list ul li .on{
    position: relative;
  }
  .un-list ul li .on:before{
    content:'';
          position:absolute;
          width:4.5vw;
          transform:scaleX(0);
          height:2px;
          top:30px;
          left:0;
          background-color:orange;
          transform-origin:bottom left;
          transition:transform 0.25s ease-out;
  }
  .un-list ul li .on:hover:before{
    transform:scalex(1)
  }
.un-list ul li ul .l1 a{
  font-size:1em;
  color:orange;
}
.un-list ul li ul .l0 a{
  font-size:1.3em;
  color: orange
}
.un-list ul li ul .l1 a:hover{
  background-color: #1A1B1C;
  font-size:.96em;
  color:whitesmoke;
  padding-right:2em;
  padding-left:2.1em ;
   padding-bottom:.4em;
  padding-top:.4em ;
}
.un-list ul li ul .l0 a:hover{
  padding: .2em;
  background-color:#1A1B1C; 
  padding-right:1.65em;
  padding-left:1.65em ;
  padding-bottom:.2em;
  padding-top:.2em ;
  font-size:1.3em;
  color: whitesmoke
}

/*end navbar*/


/*Game Offer*/

section {
  grid-area: secnn;
  width: 100vw;
  height: 85vh;
  background-color:hsla(0, 0%, 11%,1);
  display: grid;
  
  grid-template-columns:1fr;
  grid-template-rows:33.3% 33.3% 33.3% ;
  grid-template-areas: 
            "offer1"
            "offer2"
            "offer3";
}
.gameinfo {
  
  padding-top: 0vh;
  display: block;
  height: 100%;
  background: linear-gradient(to bottom,rgb(0, 0, 0,0),rgba(0,0,0,0.9));
  padding: 0px;
  font-family: sans-serif;
  opacity: 1;
  transition: 1s;
  text-align: center;
}
.gameinfo:hover{
  display: none;
}
.gameinfo h3 {
  color: whitesmoke;
  padding-bottom: 2vh;
}
.gameinfo h4 {
  color: #bdc3c7;
  font-weight: 100;
  padding-bottom: 15vh;
}
  .gameinfo a {
   position: relative;
   top: -10vh;
  }
.gameoffers .shadowhov0{
  grid-area: offer1;
  overflow:hidden;
  position: relative;
  box-shadow:0px 0px 10px black;
}
.gameoffers .offer1{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/codbo4.jpg);
  background-size: 100vw 30vh;
  background-repeat:no-repeat;
  display:flex;
  flex-direction:column;
  position: relative;
}

.gameoffers .offer1 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 10vw;
}
.gameoffers .offer1 a {
   color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 0.8em;
  border-radius: 5px;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:10vh 0vh 0vh 0vh;
  z-index:0;
}
.gameoffers .offer1 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}
.gameoffers .shadowhov1{
  grid-area:offer2;
}

.gameoffers .offer2{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/GTA.png);
  background-size: 100vw 40vh;
  background-position-y: -40px;
  background-repeat:no-repeat;
  box-shadow:0px 0px 10px black;
  display:flex;
  flex-direction:column;
  position: relative;
  overflow:hidden;
}

.gameoffers .offer2 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 10vw;
}
.gameoffers .offer2 a{
  color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 0.8em;  
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  cursor:pointer;
  z-index:0;
}
.gameoffers .offer2 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}
.gameoffers .shadowhov2{
  grid-area:offer3
}
.gameoffers .offer3{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/R6S.jpg);
  background-size: 100vw 30vh;
  background-repeat:no-repeat;
  box-shadow:0px 0px 10px black;
  display:flex;
  flex-direction:column;
  position: relative;
  overflow:hidden;
}

.gameoffers .offer3 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 10vw;
}
.gameoffers .offer3 a{
  color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 0.8em;
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  cursor:pointer;
  z-index:0;
}
.gameoffers .offer3 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}

/*end of section*/
article{
  grid-area: art;
  z-index:0;
  width: 100vw;
  background-color:hsla(0, 0%, 11%,1);
  box-shadow:0px 0px 10px black;
  display: grid;
  grid-template-columns:1fr 100vw 100vw 1fr ;
  grid-template-rows:1vh;
  grid-template-areas:
    "as00"
    "as11"
    ;
}
article .as0{
  width:100%;
  height:100%;
  grid-area:as00;
  display:flex;
  flex-direction:row ;
}
article .as0 video {
  width:100vw;
  height:28vh;
  align-self:flex-start;
  border: 1px solid orange;
  box-shadow: 0px 0px 10px orange;

}
article .as0 div{
  padding-top:3.9vw
}
article .as1{
  width:100%;
  height:100%;
  grid-area:as11;
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
 }
article .as1 div{
  padding-top:5vh
}
article .as1 div img{
  width: 45vw;
  height:18vh;
  background:#262626;
}
article .as1 p{
  margin-left: 2vw;
  width:25vw;
  height:13vh;
  color: whitesmoke;
  text-transform:capitalize;
  font-size:.7em;
  font-family:arial;
  font-weight: lighter;
}
article .as1 h5{
  position: relative;
  top:70vh ;
  left: -70vw;
  width: 50vw;
  height:5vh;
  font-size: 0.71em;
  align-self:self-start;
  padding-left:2.5vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: bold;
}
article .as1 h5 span{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:2.5vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: lighter;
 
}
article .as1 h5 a{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:4vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: bold;
}
article .as1 h5 a:hover{
  color:hsla(39, 100%, 50%,.8)
}
article .as1 .h22a{
  align-self: flex-end
}
article .as1 h2{
  position: relative;
  top:-1vh ;
  left:-250vw;
  width:60vw;
  height: 6vh;
  padding:.3em;
  text-align: center;
  background:hsl(39, 100%, 50%);
  border-radius: 5px;
  transition: 1s;
  color:whitesmoke;
  font-family:arial;
  font-weight:lighter;
  white-space: pre-line;
  font-size: 1.4em;
}
article .as1 a h2:hover{
  color: hsl(0, 0%, 15%);
}
/*start footer*/
.store0{
  grid-area:store;
  background-color:#1C1C1C;
  width: 100vw;
  display:grid;
  grid-template-columns:1fr 80vw 1fr;
  grid-template-rows:30vh 30vh 30vh 30vh;
  grid-template-areas: 
    ". ddd0 ."
    ". ddd1 ."
    ". ddd2 ."
    ". ddd3 ."
    ;
}
.store0 .ddd0{
  grid-area:ddd0;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd0 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd0 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd0 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd0 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd0 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd0 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd0 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}
.store0 .ddd0 .red-inf h2{
  width:25vw;
  height:6vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.2em;
}
.store0 .ddd0 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd0 .red-inf p{
  width: 23vw;
  height:9vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd0 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
  }
.store0 .ddd1{
  grid-area: ddd1;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd1 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd1 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd1 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd1 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd1 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd1 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd1 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}
.store0 .ddd1 .red-inf h2{
  width:25vw;
  height:10vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.2em;
}
.store0 .ddd1 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd1 .red-inf p{
  width: 23vw;
  height:9vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .8em;
  color: whitesmoke;
}
.store0 .ddd1 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
}
.store0 .ddd2{
  grid-area:ddd2;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd2 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd2 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd2 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd2 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd2 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd2 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd2 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd2 .red-inf h2{
  width:25vw;
  height:8vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.3em;
}
.store0 .ddd2 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd2 .red-inf p{
  width: 23vw;
  height:9vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 0.91em;
  color: whitesmoke;
}
.store0 .ddd2 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
}
.store0 .ddd3{
  grid-area:ddd3;
  display:flex;
  overflow:hidden;
  position: relative;
}
.store0  .ddd3 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd3 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd3 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd3 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd3 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd3 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd3 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd3 .red-inf h2{
  width:25vw;
  height:7vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.23em;
}
.store0 .ddd3 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:4vh;
  color:whitesmoke;
}
.store0 .ddd3 .red-inf p{
  width: 23vw;
  height:8vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd3 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
}
  /*Footer starts*/
  footer{
    width: 100vw;
    height: 28vh;
    grid-area: foot;
    z-index: 0;
    background-color:#1A1B1C;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    box-shadow: 0px 1px 10px 0px black;
  }
  footer .d0 {
    width:76%;
  }
  footer .d0 p{
    font-size:1.05em;
    color:hsla(52, 29%, 90%,.7);
    font-family:sans-serif;
    font-weight: lighter;
  }
  footer .d0 p a{
    text-decoration:none;
    margin-left:2vw;
    color:whitesmoke;
    padding: 3px;
    border-right: 1px solid whitesmoke;
    font-size:.7em;
  }
  footer .d1{
    width:20%;
    height:100%;
    display:flex;
  }
  footer .d1 .father-d0{
    width:100%;
    height:70%;
    display:flex;
    flex-direction:row-reverse;
    align-content:space-between;
    align-items:center;
    background-color:hsla(210, 4%,41%,.4); 
    place-self: center;
    cursor:pointer;
  }
  footer .d1 .dd0{
    display: flex;
    flex-direction:column;
    width:18%;
    height:50%
  }
  footer .d1 div i{
    font-size:45px;
    color:#FFA500;
    display:none;
  }
  footer .d1 .dd1{
    width:80%;
    height:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-start;
  }
  footer .d1 .dd1 h5{
   font-size:1.1em;
    color:whitesmoke;
    font-family: arial;
    font-weight: initial;
  }
  footer .d1 .dd1 p{
    font-size: .7em;
    color:whitesmoke;
    font-family:arial;
    font-weight: lighter;
  }
/*footer end*/
}
/***************iPhone X*******************S9*************/
@media screen and (min-height:740px) and (max-height:812px){
  main{
  display:grid;
  grid-template-columns:60vw 38.8vw;
  grid-template-rows:15vh 85vh 85vh 123vh 20vh ;
  grid-template-areas: 
    "navo navo"
    "secnn secnn"
    "art art"
    "store store"
    "foot foot"
    ;
}
/*alert tany*/


/*strart navbar*/
  nav{
    grid-area:navo;
    background-color:#1a1b1c;
    position:fixed;
    width:100vw;
    height: 15vh;
    box-shadow:1px 1px 5px black;
    z-index:1;
  }
nav .nav-father{
 display:flex;
  width:98.8vw;
  height:15vh;
  flex-direction:row;

}
  .nav-father .search-bar{
    display:flex;
    align-self: center;
    width:44vw;
    margin-left: -5%;
  }
.nav-father .search-bar form{
  position: relative;
  width:42vw;
  height:4vh;
  display:flex;
  justify-content:center;
}
.nav-father .search-bar form input{
    width:80%;
    height:4vh;
    padding:.5em;
    border:3px solid orange;
    border-radius:.9em;
    background-color: #1A1B1C;
    color: white;
  font-size: 0.7em;
}
.nav-father .search-bar i{
    color:whitesmoke;
    position: absolute;
    left: 27.9vw;
    width: 23%;
    height: 5.5vh;
    font-size:19px;
    top:0.1em;
    border:0.5em solid orange;;
    background-color: orange;
    border-radius:20px 8px 8px 0px;
    cursor:pointer
}
.nav-father .header{
  width:26.9vw;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
  .nav-father .header h1{
    color: orange;
    font-family:other;
    font-size:20px;
    padding-left: 10px;
    align-self:center;
  }
.un-list{
    width: 26vw;
    height:15vh;
  }
  .un-list ul{
    display:flex;
    width:25vw;
    height:15vh;
    list-style: none;
    justify-content:space-around;
    align-items: center;
  }
  .un-list ul li a{
    text-decoration:none;
    font-size: 1em;
    color:whitesmoke;
    font-family:arial;
    font-weight:;
    padding: 10px;
  }
.un-list ul li{
  position: relative;
}
.un-list ul li a{
  text-decoration:none;
  font-size:1em;
  color:whitesmoke;
  font-family:arial;
  font-weight:lighter;
  text-transform:capitalize;
}
.un-list ul li button{
  background:transparent;
  border:transparent;
  cursor:pointer;
  position: relative;
}
.un-list ul li button i:hover{
  color:orange;
}
.un-list ul li button .fa-user{
  font-size:1.5em;
  color:whitesmoke;
}
.un-list ul li ul{
  width:20vw;
  height:12.5vh;
  top:7vh;
  background-color:whitesmoke;
  display: flex;
  align-content:;
  flex-direction:column;
  position: absolute;
  left:-10.2vw;
  border-bottom:3px solid orange;
  border-radius:10px 10px 3px 3px;
  visibility:hidden;
  transition:.5s;
}

.un-list ul li ul:before{
  content: "";
  width:0vw;
  height:0;
  bottom:11.9vh;
  background-color:transparent;
  position: absolute;
  left:;
  border-bottom:10px solid whitesmoke;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent; 
}
.un-list ul li button:focus +ul{
  visibility:visible;
}
.un-list ul li ul li{
  padding: 9px;
}
.un-list ul li .an:hover,.on:hover{
  color:orange;
}

.un-list ul li .an{
    border:.1em solid orange;
    padding:.2em;
    border-top:transparent ;
    border-right:transparent;
    border-bottom: ;
    border-left:transparent;

  }
  .un-list ul li .on{
    position: relative;
  }
  .un-list ul li .on:before{
    content:'';
          position:absolute;
          width:4.5vw;
          transform:scaleX(0);
          height:2px;
          top:30px;
          left:0;
          background-color:orange;
          transform-origin:bottom left;
          transition:transform 0.25s ease-out;
  }
  .un-list ul li .on:hover:before{
    transform:scalex(1)
  }
.un-list ul li ul .l1 a{
  font-size:1em;
  color:orange;
}
.un-list ul li ul .l0 a{
  font-size:1.3em;
  color: orange
}
.un-list ul li ul .l1 a:hover{
  background-color: #1A1B1C;
  font-size:.96em;
  color:whitesmoke;
  padding-right:2em;
  padding-left:2.1em ;
   padding-bottom:.4em;
  padding-top:.4em ;
}
.un-list ul li ul .l0 a:hover{
  padding: .2em;
  background-color:#1A1B1C; 
  padding-right:1.65em;
  padding-left:1.65em ;
  padding-bottom:.2em;
  padding-top:.2em ;
  font-size:1.3em;
  color: whitesmoke
}

/*end navbar*/


/*Game Offer*/

section {
  grid-area: secnn;
  width: 100vw;
  height: 85vh;
  background-color:hsla(0, 0%, 11%,1);
  display: grid;
  
  grid-template-columns:1fr;
  grid-template-rows:33.3% 33.3% 33.3% ;
  grid-template-areas: 
            "offer1"
            "offer2"
            "offer3";
}
.gameinfo {
  
  padding-top: 0vh;
  display: block;
  height: 100%;
  background: linear-gradient(to bottom,rgb(0, 0, 0,0),rgba(0,0,0,0.9));
  padding: 0px;
  font-family: sans-serif;
  opacity: 1;
  transition: 1s;
  text-align: center;
}
.gameinfo:hover{
  display: none;
}
.gameinfo h3 {
  color: whitesmoke;
  padding-bottom: 2vh;
}
.gameinfo h4 {
  color: #bdc3c7;
  font-weight: 100;
  padding-bottom: 15vh;
}
  .gameinfo a {
   position: relative;
   top: -10vh;
  }
.gameoffers .shadowhov0{
  grid-area: offer1;
  overflow:hidden;
  position: relative;
  box-shadow:0px 0px 10px black;
}
.gameoffers .offer1{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/codbo4.jpg);
  background-size: 100vw 30vh;
  background-repeat:no-repeat;
  display:flex;
  flex-direction:column;
  position: relative;
}

.gameoffers .offer1 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 10vw;
}
.gameoffers .offer1 a {
   color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 0.8em;
  border-radius: 5px;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:10vh 0vh 0vh 0vh;
  z-index:0;
}
.gameoffers .offer1 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}
.gameoffers .shadowhov1{
  grid-area:offer2;
}

.gameoffers .offer2{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/GTA.png);
  background-size: 100vw 40vh;
  background-position-y: -40px;
  background-repeat:no-repeat;
  box-shadow:0px 0px 10px black;
  display:flex;
  flex-direction:column;
  position: relative;
  overflow:hidden;
}

.gameoffers .offer2 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 10vw;
}
.gameoffers .offer2 a{
  color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 0.8em;  
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  cursor:pointer;
  z-index:0;
}
.gameoffers .offer2 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}
.gameoffers .shadowhov2{
  grid-area:offer3
}
.gameoffers .offer3{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,rgba(22, 51, 45,0.5), hsla(39, 100%, 50%,.5)),url(../images/R6S.jpg);
  background-size: 100vw 30vh;
  background-repeat:no-repeat;
  box-shadow:0px 0px 10px black;
  display:flex;
  flex-direction:column;
  position: relative;
  overflow:hidden;
}

.gameoffers .offer3 h1{
  color: whitesmoke;
  background: hsla(39, 100%, 50%,.8);
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 5px;
  margin-top: 4vh;
  margin-left: 5vw;
  width: 10vw;
}
.gameoffers .offer3 a{
  color: whitesmoke;
  font-family: Sans-serif;
  background: hsl(39, 100%, 50%);
  padding: 0.8em;
  border-radius: 5px;
  width:vw;
  height:7vh;
  transition:1s;
  place-self:center;
  margin:20vh 0vh 0vh 0vh;
  cursor:pointer;
  z-index:0;
}
.gameoffers .offer3 a:hover{
  transform: scale(1.1);
  box-shadow:1px 1px 10px 1px black;
}

/*end of section*/
article{
  grid-area: art;
  z-index:0;
  width: 100vw;
  background-color:hsla(0, 0%, 11%,1);
  box-shadow:0px 0px 10px black;
  display: grid;
  grid-template-columns:1fr 100vw 100vw 1fr ;
  grid-template-rows:1vh;
  grid-template-areas:
    "as00"
    "as11"
    ;
}
article .as0{
  width:100%;
  height:100%;
  grid-area:as00;
  display:flex;
  flex-direction:row ;
}
article .as0 video {
  width:100vw;
  height:28vh;
  align-self:flex-start;
  border: 1px solid orange;
  box-shadow: 0px 0px 10px orange;

}
article .as0 div{
  padding-top:3.9vw
}
article .as1{
  width:100%;
  height:100%;
  grid-area:as11;
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
 }
article .as1 div{
  padding-top:5vh
}
article .as1 div img{
  width: 45vw;
  height:18vh;
  background:#262626;
}
article .as1 p{
  margin-left: 2vw;
  width:25vw;
  height:13vh;
  color: whitesmoke;
  text-transform:capitalize;
  font-size:.7em;
  font-family:arial;
  font-weight: lighter;
}
article .as1 h5{
  position: relative;
  top:70vh ;
  left: -70vw;
  width: 50vw;
  height:5vh;
  font-size: 0.71em;
  align-self:self-start;
  padding-left:2.5vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: bold;
}
article .as1 h5 span{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:2.5vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: lighter;
 
}
article .as1 h5 a{
  width: 20vw;
  height:5vh;
  align-self:self-start;
  padding-left:4vw;
  color:whitesmoke;
  font-family:sans-serif;
  text-transform:capitalize;
  font-weight: bold;
}
article .as1 h5 a:hover{
  color:hsla(39, 100%, 50%,.8)
}
article .as1 .h22a{
  align-self: flex-end
}
article .as1 h2{
  position: relative;
  top:-1vh ;
  left:-250vw;
  width:60vw;
  height: 6vh;
  padding:.3em;
  text-align: center;
  background:hsl(39, 100%, 50%);
  border-radius: 5px;
  transition: 1s;
  color:whitesmoke;
  font-family:arial;
  font-weight:lighter;
  white-space: pre-line;
  font-size: 1.4em;
}
article .as1 a h2:hover{
  color: hsl(0, 0%, 15%);
}
/*start footer*/
.store0{
  grid-area:store;
  background-color:#1C1C1C;
  width: 100vw;
  display:grid;
  grid-template-columns:1fr 80vw 1fr;
  grid-template-rows:30vh 30vh 30vh 30vh;
  grid-template-areas: 
    ". ddd0 ."
    ". ddd1 ."
    ". ddd2 ."
    ". ddd3 ."
    ;
}
.store0 .ddd0{
  grid-area:ddd0;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd0 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd0 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd0 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd0 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd0 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd0 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd0 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}
.store0 .ddd0 .red-inf h2{
  width:25vw;
  height:6vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.2em;
}
.store0 .ddd0 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd0 .red-inf p{
  width: 23vw;
  height:9vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd0 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
  }
.store0 .ddd1{
  grid-area: ddd1;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd1 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd1 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd1 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd1 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd1 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd1 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd1 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}
.store0 .ddd1 .red-inf h2{
  width:25vw;
  height:10vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.2em;
}
.store0 .ddd1 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd1 .red-inf p{
  width: 23vw;
  height:9vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .8em;
  color: whitesmoke;
}
.store0 .ddd1 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
}
.store0 .ddd2{
  grid-area:ddd2;
  display:flex;
  overflow:hidden;
  position: relative
}
.store0  .ddd2 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd2 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd2 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd2 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd2 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd2 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd2 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd2 .red-inf h2{
  width:25vw;
  height:8vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.3em;
}
.store0 .ddd2 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:5vh;
  color:whitesmoke;
}
.store0 .ddd2 .red-inf p{
  width: 23vw;
  height:9vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 0.91em;
  color: whitesmoke;
}
.store0 .ddd2 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
}
.store0 .ddd3{
  grid-area:ddd3;
  display:flex;
  overflow:hidden;
  position: relative;
}
.store0  .ddd3 .ddhover{
  height:28vh;
  place-self: center
}
.store0 .ddd3 .hover-red{
  display:flex;
  height:28vh;
  position:relative;
}
.store0 .ddd3 .hover-red:before{
  content: "";
  background:linear-gradient(to bottom ,rgba(22, 26, 45,0.699), hsla(39, 100%, 50%,.5));
  position: absolute;
  top:0;
  left:0;
  width:5000vw;
  height:90vh;
  text-align:center;
  font-size: 3em;
  line-height:4em;
  visibility: hidden;
  transition: .2s  ease-in-out;
}
.store0 .ddd3 .hover-red:hover:before{
  visibility: visible
}
.store0 .ddd3 .img-red{
  width:35vw;
  height:28vh;
  display: flex;
  justify-content:center;
  align-items:center
}
.store0 .ddd3 .img-red img{
  width:28vw;
  height:25vh
}
.store0 .ddd3 .red-inf{
  width:30vw;
  height:28vh;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.store0 .ddd3 .red-inf h2{
  width:25vw;
  height:7vh;
  color:whitesmoke;
  font-family: sans-serif;
  font-weight:lighter;
  font-size: 1.23em;
}
.store0 .ddd3 .red-inf i{
  font-size: 1.5em;
  width:2.5vw;
  height:4vh;
  color:whitesmoke;
}
.store0 .ddd3 .red-inf p{
  width: 23vw;
  height:8vh;
  font-family:sans-serif;
  font-weight:lighter;
  font-size: .9em;
  color: whitesmoke;
}
.store0 .ddd3 h3{
  place-self:end;
  color:whitesmoke;
  font-family: sans-serif;
  height:7vh;
  font-size: 1.3em;
}
  /*Footer starts*/
  footer{
    width: 100vw;
    height: 28vh;
    grid-area: foot;
    z-index: 0;
    background-color:#1A1B1C;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    box-shadow: 0px 1px 10px 0px black;
  }
  footer .d0 {
    width:76%;
  }
  footer .d0 p{
    font-size:1.05em;
    color:hsla(52, 29%, 90%,.7);
    font-family:sans-serif;
    font-weight: lighter;
  }
  footer .d0 p a{
    text-decoration:none;
    margin-left:2vw;
    color:whitesmoke;
    padding: 3px;
    border-right: 1px solid whitesmoke;
    font-size:.7em;
  }
  footer .d1{
    width:20%;
    height:100%;
    display:flex;
  }
  footer .d1 .father-d0{
    width:100%;
    height:70%;
    display:flex;
    flex-direction:row-reverse;
    align-content:space-between;
    align-items:center;
    background-color:hsla(210, 4%,41%,.4); 
    place-self: center;
    cursor:pointer;
  }
  footer .d1 .dd0{
    display: flex;
    flex-direction:column;
    width:18%;
    height:50%
  }
  footer .d1 div i{
    font-size:45px;
    color:#FFA500;
    display:none;
  }
  footer .d1 .dd1{
    width:80%;
    height:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-start;
  }
  footer .d1 .dd1 h5{
   font-size:1.1em;
    color:whitesmoke;
    font-family: arial;
    font-weight: initial;
  }
  footer .d1 .dd1 p{
    font-size: .7em;
    color:whitesmoke;
    font-family:arial;
    font-weight: lighter;
  }
/*footer end*/
}